<div class="row">
  <div class="col-sm-7">
    {{file?.fileName}}
  </div>
  <div class="col-sm-3">
    Created on {{ file?.uploadDate | date }}
  </div>
  <div class="col-sm-2">

    <a class="btn btn-primary btn-sm"
       href="{{file?._links?.download?.href}}" download>
      Download
    </a>
  </div>
</div>
<div class="file-view-container">
  <div class="row">
    <div class="col-sm-8">

      <fs-file-preview [file]="file"></fs-file-preview>
    </div>
    <div class="col-sm-4">
      <div class="comments">
        Comments:
        <fs-editable-comment (onUpdate)="createMessage($event)"
                             (onDelete)="resetComment()"
                             [persisted]="false"
                             [value]="comment">
        </fs-editable-comment>

        <div *ngFor="let item of comments">
          <fs-editable-comment (onUpdate)="updateMessage($event)"
                               (onDelete)="deleteMessage(item)"
                               [persisted]="true"
                               [value]="item">
          </fs-editable-comment>
        </div>
      </div>
    </div>
  </div>
</div>
