<div class="ui-widget-header">

  <div class="row">

    <div class="col-sm-6">
      <div class="input-group input-group-sm">

        <div class="input-group-addon">
          <i class="fa fa-search"></i>
        </div>
        <input #gb type="text" class="form-control" placeholder="Search for ">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="input-group input-group-sm">
        <p-multiSelect
          [options]="contentTypes"
          defaultLabel="All"
          class="multi-select"
          (onChange)="dt.filter($event.value, 'contentType', 'in')">
        </p-multiSelect>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 input-group-sm">
      <p-calendar
        [showIcon]="true"
        (onSelect)="filterByDates(dt, $event)"
        [(ngModel)]="dateFrom"
        readonlyInput="readonlyInput"
        [minDate]="minDate"
        [maxDate]="maxDate">
      </p-calendar>
    </div>

    <div class="col-sm-4 input-group-sm">
      <p-calendar
        [showIcon]="true"
        (onSelect)="filterByDates(dt, $event)"
        [(ngModel)]="dateTo"
        readonlyInput="readonlyInput"
        [minDate]="dateFrom || minDate"
        [maxDate]="maxDate">
      </p-calendar>
    </div>

    <div class="col-sm-4 text-center">
      <button type="button"
              [disabled]="!dateFrom && !dateTo"
              class="btn btn-sm"
              (click)="resetDates(dt)">
        <i class="fa fa-times"></i>
        Reset Dates
      </button>
    </div>
  </div>
</div>

<p-dataTable [value]="files"
             scrollable="true"
             scrollHeight="500px"
             [rows]="files?.length"
             virtualScroll="virtualScroll"
             selectionMode="single"
             [(selection)]="selectedFile" dataKey="id"
             (onRowDblclick)="onRowDblclick($event)"
             [globalFilter]="gb" #dt>

  <p-column field="fileName" header="File Name" [sortable]="true"
            filterMatchMode="contains">
  </p-column>

  <p-column field="uploadDate" header="Upload Date" [sortable]="true">
    <template let-file="rowData" pTemplate="body">
      {{file?.uploadDate | date}}
    </template>
  </p-column>

  <p-column field="contentType" header="Content Type" [sortable]="true">
  </p-column>

  <p-column styleClass="col-button" header="Actions">
    <template let-file="rowData" pTemplate="body">

      <a type="button" href="{{file?._links?.download?.href}}" download
         class="btn btn-primary btn-xs">
        <i class="fa fa-download"></i>
      </a>

      <button type="button" class="btn btn-danger btn-xs"
              (click)="remove(file, $event)">
        <i class="fa fa-trash-o"></i>
      </button>
    </template>
  </p-column>
</p-dataTable>
