<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
  <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
  <input #gb type="text" pInputText size="50" placeholder="Search for ">

  <p-multiSelect [options]="contentTypes" defaultLabel="All"
                 (onChange)="dt.filter($event.value, 'contentType', 'in')">
  </p-multiSelect>

  <p-calendar
    (onSelect)="filterByDates(dt, $event, 'from')"
    [(ngModel)]="dateFrom"
    readonlyInput="readonlyInput"
    [minDate]="minDate"
    [maxDate]="maxDate">
  </p-calendar>

  <p-calendar
    (onSelect)="filterByDates(dt, $event, 'to')"
    [(ngModel)]="dateTo"
    readonlyInput="readonlyInput"
    [minDate]="dateFrom || minDate"
    [maxDate]="maxDate">
  </p-calendar>
</div>

<p-dataTable [value]="files"
             scrollable="true"
             scrollHeight="510px"
             [rows]="files?.length"
             virtualScroll="virtualScroll"
             selectionMode="single"
             [(selection)]="selectedFile" dataKey="id"
             (onRowSelect)="onRowSelect($event)"
             (onRowDblclick)="onRowDblclick($event)"
             [globalFilter]="gb" #dt>

  <p-column field="fileName" header="File Name" [sortable]="true"
            filterMatchMode="contains">
  </p-column>

  <p-column field="uploadDate" header="Upload Date" [sortable]="true">
    <template let-file="rowData" pTemplate="body">
      {{file?.uploadDate | date}}
    </template>
  </p-column>

  <p-column field="contentType" header="Content Type" [sortable]="true">
  </p-column>

  <p-column styleClass="col-button" header="Download">
    <template let-file="rowData" pTemplate="body">
      <a pButton type="button" icon="fa fa-download"
         href="{{file?._links?.download?.href}}" download>
      </a>
    </template>
  </p-column>
</p-dataTable>
